<navbar></navbar>
		<catlist></catlist>
		<!--<button type="submit" class="btn btn-default" ng-click="showCatlist()">Load Details of Categories</button><br/>-->
		<table st-table="catlist" st-safe-src="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="lastName">Title</th>
			</tr>
			<tr>
				<input st-search="title" placeholder="search for title" class="input-sm form-control" type="search"/>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in catlist">
				<td>{{row.title}}</td>
				<td>
				<button type="button" ng-click="updateCategory(row)" class="btn btn-sm btn-success">
					<i class="glyphicon glyphicon-pencil">
					</i>
				</button>	
				<button type="button" ng-click="removeCategory(row)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
				</td>
			</tr>
			</tbody>
		</table>	